{{define "admin/adminMultipart.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Adminedit.html------多个文件不同名</h1>
    <form action="/admin/multipartUpload" method="post" enctype="multipart/form-data">
        User: <input type="text" name="user">
        <br>
        File1: <input type="file" name="file">
        <br>
        File2: <input type="file" name="file">
        <br>
        File3: <input type="file" name="file">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
{{end}}